.cervecerias__top {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cervecerias.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;

    h2 {
        font-family: $titulos-font;
        color: $titulos-color;
        font-size: $titulos-size;
    }
}

@media (max-width: 580px) {
    .cervecerias__top h2 {
        font-size: 50px;
    }
}

@media (max-width: 360px) {
    .cervecerias__top h2 {
        font-size: 30px;
    }
}


.cerveceriasMes__titulo {
    text-decoration: underline;
    margin-top: 20px;

    h2 {
        font-size: 50px;
        padding: 10px 15px;
        color: $color-primario;
        text-align: center;
        margin-bottom: 15px;
    }
}

.contenedor__cervecerias {
    display: flex;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.contenedor__cervecerias-img {
    max-width: 100%;
}

.contenedor__cervecerias-texto {
    padding: 0 15px;
    
    h2 {
        font-size: 28px;
        color:$color-secundario;
        text-decoration: underline;
    }

    p {
        font-size: 20px;
        color: $color-primario;
        width: 100%;
    }
}

.cervecerias__img {
    max-width: 100%;
    border-radius: 1rem;
    border: $borde-imagenes;
}

.cervecerias__btn {
    background-color: $color-primario;
    border: 1px solid $color-primario;
    border-radius: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
}

.cervecerias__btn:hover {
    background-color: white;
    color: $color-primario;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .contenedor__cervecerias {
        flex-direction: column;
    }

    .contenedor__cervecerias-texto {
        margin-left: 0;
    }

    .cerveceriasMes__titulo {
        font-size: 26px;
    }
}