.estilos__top {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo_estilos.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;

    h2 {
        font-family: $titulos-font;
        color: $titulos-color;
        font-size: $titulos-size;
        font-weight: 600;
    }
}


@media (max-width: 360px) {
    .estilos__top h2 {
        font-size: 40px;
    }
}

.container__img-lager {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/cerveza4.jpg);
    background-size: cover;
    background-position: center;
}

.container__img-ale {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/cerveza3.jpg);
    background-size: cover;
    background-position: center;
}

.display-4__estilos {
    color: $titulos-color;
    font-weight: 600;
    color: $color-secundario;
}

.lead__estilos {
    color: $titulos-color;
}

.col {
    padding: 10px 0;
}

.card-text1 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    color: $color-secundario;
}
