.logo__img {
    height: 100px;
}

.header__nav {
    position: fixed;
    display: flex;
    height: 100px;
    width: 100%;
    background: $color-primario;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    z-index: 99;


    .header__ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 0;
    }

    .header__li {
        margin: 0 5px;
    }

    .header__a {
        color: $titulos-color;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 5px;
        letter-spacing: 1px;
    }

    .header__activo {
        color: $color-primario;
        background: rgb(216, 216, 216);
    }
    
    .header__a:hover {
        color: $color-primario;
        background: $titulos-color;
        transition: 0.5s;
    }

    .menu-btn i {
        color: $titulos-color;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }
}



input[type="checkbox"] {
    display: none;
}

@media (max-width: 920px) {
    .header__nav {
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 920px) {
    .header__nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    .header__nav .header__ul {
        position: fixed;
        top: 100px;
        left: -100%;
        background-color: $color-terceario;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
    }

    #click:checked~.header__ul {
        left: 0;
    }

    .header__nav .header__ul .header__li {
        width: 100%;
        margin: 40px 0;
    }

    .header__nav .header__ul .header__li .header__a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
    }

    #click:checked~.header__ul .header__li .header__a {
        margin-left: 0px;
    }

    .header__nav .header__ul .header__li .header__a:hover {
        background: none;
        color: $color-secundario;
    }
}
